<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- サイトのメタ情報（いじらない） -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fabicon (Webアイコン) の設定（いじらない） -->
    <link rel="apple-touch-icon" type="image/png" href="images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicon/icon-192x192.png">

    <!-- OGP 設定（いじらない） -->
    <meta property="og:title" content="Quiz App">
    <meta property="og:description" content="クイズアプリ">
    <meta property="og:url" content="https://inpw.jp/app/quizapp">
    <meta property="og:image" content="https://inpw.jp/app/quizapp/images/ogp.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Quiz App">
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- Bootstrap の読み込み（いじらない） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

    <!-- CSSの読み込み（いじらない） -->
    <link rel="stylesheet" href="main.css">
    
    <!-- サイトのタイトル -->
    <title>クイズアプリ</title>

</head>
<body>

    <!-- ナビゲーションバー -->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-main-green">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
            Quiz App
        </a>
    </nav>

    <div id="app">

        <div class="container">

            <!-- クイズのタイトルを表示する領域 -->

            <div class="row my-3">

                <div class="col-12">
                    <h1 class="text-center main-title">クイズタイトル</h1>
                    <p class="text-center">クイズの説明がはいります</p>
                </div>

            </div>

            <div class="row">

                <!-- 問題数を表示する領域 -->


                <!-- 問題文を表示する領域 -->


                <!-- 選択肢を表示する領域 -->


                <!-- 回答ボタンを表示する領域 -->

            </div>

        </div>

        <!-- 答えを表示するモーダル -->
        
        <div class="modal" id="answerCheckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">問題</h5>
                    </div>
                    
                    <div class="modal-body">

                        <div class="row">

                            <div class="col-4">
                                <div class="text-center">
                                    <img src="./images//correct.png" class="answer-img" alt="" v-if="isCorrect">
                                    <img src="./images/miss.png" class="answer-img" alt="" v-if="!isCorrect">
                                </div>
                            </div>

                            <div class="col-8">

                                <div v-if="isCorrect">
                                    <h3 class="answer-title">正解！</h3>
                                    <p>正解したときの説明</p>
                                    <p></p>    
                                </div>

                                <div v-if="!isCorrect">
                                    <h3 class="answer-title">残念...!</h3>
                                    <p>不正解だったときの説明</p>
                                    <p></p>    
                                </div>

                            </div>

                        </div>
        
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="nextQuestion()">次の問題へ</button>
                    </div>
                </div>
            </div>
         </div>

         <!-- すべての問題を回答し終わったときに表示するモーダル -->

         <div class="modal fade" id="answerEndedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        おつかれさまでした！
                    </div>
                    
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-4">
                                <div class="text-center">
                                    <img src="./images/trophy.png" class="answer-img">
                                </div>
                            </div>

                            <div class="col-8">

                                <p>すべてが終了したときの説明</p>

                            </div>

                        </div>
        
                    </div>
        
                    <div class="modal-footer">
                    
                        <a href="index.html" class="btn btn-success">クイズ一覧にもどる</a>
                        <a href="#" class="btn btn-primary" @click="reload()">最初から答える</a>

                    </div>
                </div>
            </div>
         </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        var app = new Vue({

            el: "#app", //Vueを適用する範囲を定義（今回は <div id="app"></div>の中に適用）
            data: {     //使いたい変数や配列などを定義する    

                questions:{ //問題文のデータ
                    0:{
                        title: "神奈川県の県庁所在地はどこ？",   //クイズの問題文
                        hint: "赤レンガ倉庫がある街！",         //ヒント
                        answers: [                          //答えの選択肢
                            "横浜市", "横須賀市", "町田市"
                        ],
                        answerNum: 0,                       //正解の問題番号（0から始まる）
                        description: ""                     //答えたあとに表示する説明など
                    },

                },

                //必要となる変数を定義する
                currentQuestionNumber: 0,   //現在の問題番号
                currentQuestionData: [],    //現在の問題データ
                correctAnswerNum: 0,        //正解した数
                isCorrect: true,            //正解しているかどうか
                questionsLength: 0          //出題数を管理する変数


            },

            mounted() {         //ページが読み込まれたとき最初に呼ばれる関数

                //問題の長さを自動的に設定する
                this.questionsLength = Object.keys(this.questions).length;
                
            },

            methods: {      //関数を登録する場所

                //現在の問題番号（1から始まる）を求める関数
                getCurrentQuestionNumber(){
                    
                },

                //答えをチェックする関数
                answerCheck(userChoiceNumber){

                },

                //次の問題に行く処理（いじらない）
                nextQuestion(){

                    if(this.currentQuestionNumber < Object.keys(this.questions).length - 1){
                        this.currentQuestionNumber += 1;         //最後の問題ではないので問題番号を1ずつ増やす
                        $('#answerCheckModal').modal('hide');    //モーダルを隠す
                    }else{
                        //最後の問題なので問題番号は増やさない

                        $('#answerCheckModal').modal('hide');     //モーダルを隠す   

                        //すべての問題が解き終わったので、最終結果モーダルを表示する
                        $('#answerEndedModal').modal({
                            keyboard: false,
                            backdrop: "static"
                        });
                    }                    
                },

                //画面を再読み込みする関数（いじらない）
                reload(){
                    location.reload();
                }

            }

        })

    </script>

</body>

</html>
